@charset "utf-8";
/* CSS Document */


*{
	padding:0;
	margin:0;
}

div.clear{
	width:0;
	height:0;
	clear:both;	
}

body{
	background:url(../img/new.jpg) no-repeat top center;	
}

div.container{
	width:760px;
	margin:0 auto;
}

/*----------menu-----------*/

div.menu{
    width:500px;
    height:41px;
    margin:auto;
	padding-top:15px;
}

div.menu > ul{
    list-style:none;
    width:auto;
    margin:0 auto;
}

div.menu ul li{
    float:right;
    height:56px;
    text-indent:10px;
    padding-right:20px;
    font-family:myFont;
}

div.menu ul li a{
    display:block;
    padding:2px 7px;
    text-decoration:none;
    color:#555;
    font-family:myFont;
    overflow:hidden;
    font-size:28px;
    height:52px;
}
@font-face
{
font-family:myFont;
src:url(../font/IranNastaliq.ttf); 
}

#home{
    width:70px;    
    }
#gallery{
    width:50px; 
    }
#news{
    width:60px; 
    }
#about{
    width:60px;    
    }
#contact{
    width:60px;    
    }
div.menu li:hover a{
    color:#800000;
}

/*----------endmenu-----------*/

div.main-pic{
	width: 716px;
	height: 318px;
	margin: auto;
	margin-top: 33px;
}


/*---------------- content----------*/
div.content{
	width:702px;
	height:926px;
	margin:auto;
	margin-top:25px;
	padding:15px;
	position:relative;
}


div.matn{
	width:682px;
	height:80px;
	padding:10px;	
	}
div.matn p{
	text-align:right;
	line-height:20px;
	font-size:14px;
	font-family:Tahoma, Geneva, sans-serif;	
	}
p.matn2{
	text-align:right;
	line-height:26px;
	font-size:14px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#494949;
	text-align:justify;
	}
	
div.Photo-Group{
	width:686px;
	height:384px;
	padding:8px;
	}
div.img-group{
	width:680px;
	height:250px;
	border:3px solid #999;
	}

div.photo{
	width:699px;
	height:303px;
	padding:0 1px;
	}	
div.photo1{
	width:175px;
	height:302px;
	float:left;
	
	}

div.fatemeh{
	width:144px;
	height:150px;
	margin:0 auto;	
	}
div.p1{
	margin:10px;
	text-align:right;
	font-size:14px;
	font-family:Tahoma, Geneva, sans-serif;
	line-height:16px;
	color:#494949;
	}

div.photo2{
	width:175px;
	height:302px;
	float:left;	
	}

div.aileen{
	width:144px;
	height:150px;
	margin:0 auto;	
	}
	
div.p2{
	margin:10px;
	text-align:right;
	font-size:14px;
	font-family:Tahoma, Geneva, sans-serif;
	line-height:16px;
	color:#494949;
	}
	
div.photo3{
	width:175px;
	height:302px;
	float:left;	
	}

div.farzaneh{
	width:144px;
	height:150px;
	margin:0 auto;	
	}
div.p3{
	margin:10px;
	text-align:right;
	font-size:14px;
	font-family:Tahoma, Geneva, sans-serif;
	line-height:16px;
	color:#494949;
	}

div.photo4{
	width:175px;
	height:302px;
	margin-left:525px;	
	}
div.ameneh{
	width:144px;
	height:150px;
	margin:0 auto;	
	}
div.p4{
	margin:10px;
	text-align:right;
	font-size:14px;
	font-family:Tahoma, Geneva, sans-serif;
	line-height:16px;
	color:#494949;
	}
				

/*----------footer-----------*/
div.head-footer{
	width:702px;
	height:20px;
	margin:auto;	
}

div.footer{
	width:732px;
	height:108px;
	margin:auto;
	font-size:10px;
	text-align:center ;
	font-family:Tahoma, Geneva, sans-serif;
	direction:ltr;	
	background-color:#e7d9b2;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

div.footer div.foot-in{
	width:auto;
	height:25px;	
	font-size:11px;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	direction:ltr;
	color:#61522b;
	float:left;
	margin-top:35px;
	margin-left:235px;
}

div.footer img{
	float:left;
	margin-left:-97px;
}

div.foot-in a{
	color:#61522b;
	text-decoration:none;
}