@charset "utf-8";
/* CSS Document */


*{
	padding:0;
	margin:0;
}

div{
	outline:1px solid #666;
}

div.clear{
	width:0;
	height:0;
	clear:both;	
}

body{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

div.container{
	width:1350px;
	height:1446px;
	background-image:url(../img/new.jpg);
	background-repeat:no-repeat;
	margin: 0 auto;
}

/*----------menu-----------*/
div.menu{
	width:600px;
	height:79px;
	margin:auto;
	padding-top:10px;
}

div.menu > ul{
	list-style:none;
	width:auto;
	margin:0 auto;
}

div.menu ul li{
	float:right;
	height:56px;
	text-indent:10px;
	padding-right:20px;
	font-family:myFont;
}

div.menu ul li a{
	display:block;
	padding:2px 7px;
	text-decoration:none;
	color:#555;
	font-family:myFont;
	overflow:hidden;
	font-size:18px;
	height:52px;
}
@font-face
{
font-family:myFont;
src:url(../IranNastaliq.ttf); 
}

#home{
	width:70px;	
	}
#gallery{
	width:80px;	
	}
#news{
	width:70px;	
	}
#about{
	width:60px;	
	}
#contact{
	width:80px;	
	}
div.menu li:hover{}
div.menu li:hover a{
	color:#800000;
}
/*----------submenu-----------*/

div.menu li ul{
	list-style:none;
	position:absolute;
	display:none;
	padding:0;
}

div.menu li:hover ul{
	display:block;
	color:#000;	
}

div.menu li li{
	float:none;
}

div.menu li:hover ul a{
	float:none;
	color:#000;
	font-family:myFont;
	font-size:20px;
}
@font-face
{
font-family:myFont;
src:url(../IranNastaliq.ttf); 
}

div.menu li li a:hover{
	color:#800000;
}

div.menu li ul li:hover{}

/*----------endmenu-----------*/

div.main-pic{
	width:716px;
	height:318px;
	margin:auto;
	padding-top:40px;
}
/*---------------- content----------*/
div.content{
	width:702px;
	height:810px;
	margin:auto;
	margin-top:25px;
	padding:15px;
	position:relative;
}

div.Introduction{
	width:682px;
	height:80px;
	padding:10px;	
	}
div.Introduction p{
	text-align:right;
	line-height:20px;
	font-size:14px;
	font-family:Tahoma, Geneva, sans-serif;	
	}
	
div.Photo-Group{
	width:686px;
	height:384px;
	padding:8px;
	}
div.img-group{
	width:680px;
	height:250px;
	border:3px solid #999;
	}

div.photo{
	width:692px;
	height:315px;
	padding:5px;
	}
	
div.photo1{
	width:154px;
	height:302px;
	float:left;
	padding:5px 11px 2px 5px;	
	}

div.1{
	width:144px;
	height:150px;
	padding:5px;	
	}
div.p1{
	width:154px;
	height:150px;	
	}
	
div.photo2{
	width:154px;
	height:302px;
	float:left;
	padding:5px 11px 2px 5px;	
	}

div.2{
	width:144px;
	height:150px;
	padding:5px;	
	}
div.p2{
	width:154px;
	height:150px;	
	}
	
div.photo3{
	width:154px;
	height:302px;
	float:left;
	padding:5px 11px 2px 5px;	
	}

div.3{
	width:144px;
	height:150px;
	padding:5px;	
	}
div.p3{
	width:154px;
	height:150px;	
	}

div.photo4{
	width:154px;
	height:302px;
	margin-left:510px;
	padding:5px 5px 2px 5px;	
	}
div.4{
	width:144px;
	height:150px;
	padding:5px;	
	}
div.p4{
	width:154px;
	height:150px;	
	}				
/*----------footer-----------*/
div.head-footer{
	width:732px;
	height:30px;
	margin:0 auto;	
}

div.footer{
	width:732px;
	height:90px;
	margin:0 auto;
}