@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
}

div.clear{
	width:0;
	height:0;
	clear:both;	
}

body{
	background:url(../img/new.jpg) no-repeat top center;	
}

div.container{
	width:760px;
	margin:0 auto;
}

/*----------menu-----------*/

div.menu{
    width:500px;
    height:41px;
    margin:auto;
	padding-top:15px;
}

div.menu > ul{
    list-style:none;
    width:auto;
    margin:0 auto;
}

div.menu ul li{
    float:right;
    height:56px;
    text-indent:10px;
    padding-right:20px;
    font-family:myFont;
}

div.menu ul li a{
    display:block;
    padding:2px 7px;
    text-decoration:none;
    color:#555;
    font-family:myFont;
    overflow:hidden;
    font-size:28px;
    height:52px;
}

@font-face
{
font-family:myFont;
src:url(../font/IranNastaliq.ttf); 
}

#home{
    width:70px;    
    }
#gallery{
    width:50px; 
    }
#news{
    width:60px; 
    }
#about{
    width:60px;    
    }
#contact{
    width:60px;    
    }
div.menu li:hover a{
    color:#800000;
}

/*----------footer-----------*/

div.head-footer{
	width:732px;
	height:20px;
	margin:auto;	
}

div.footer{
	width:732px;
	height:108px;
	margin:auto;
	font-size:10px;
	text-align:center ;
	font-family:Tahoma, Geneva, sans-serif;
	direction:ltr;	
	background-color:#e7d9b2;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

div.footer div.foot-in{
	width:auto;
	height:25px;	
	font-size:11px;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	direction:ltr;
	color:#61522b;
	float:left;
	margin-top:35px;
	margin-left:235px;
}

div.footer img{
	float:left;
	margin-left:-97px;
}

div.foot-in a{
	color:#61522b;
	text-decoration:none;
}

/*---------------------------------------------------------------------------------------------*/
/*--------------------------------------- About-Us --------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

div.abouus-main-pic{
	width: 716px;
	height: 318px;
	margin: auto;
	margin-top: 40px;
}


/*---------------- content----------*/

div.aboutus-content{
	width:702px;
	height:926px;
	margin:auto;
	margin-top:20px;
	padding:15px;
	position:relative;
}

div.matn{
	width:682px;
	height:80px;
	padding:10px;	
}
	
p.matn2{
	line-height:26px;
	margin:20px 0;
}

div.img-group{
	width:680px;
	height:250px;
	border:3px solid #999;
}

div.about-photo{
	width:699px;
	height:303px;
	padding:0 1px;
}	

div.photos-contact{
	width:175px;
	height:302px;
	float:left;
}

div.names-contact{
	width:144px;
	height:150px;
	margin:0 auto;	
}

div.contact-text{
	margin:20px 10px;
	text-align:right;
	font-size:14px;
	font-family:Tahoma, Geneva, sans-serif;
	line-height:16px;
	color:#494949;
}

/*---------------------------------------------------------------------------------------------*/
/*------------------------------ Madon --- Zedenor --- Panorma --------------------------------*/
/*---------------------------------- Pening ------ HDR ----------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
/*-------Photography Techniques (just main-pic) ---------*/

div.teckniq-main-pic{
	width:690px;
	height:318px;
	margin:auto;
	margin-top:40px;
	overflow:hidden;
}

div.base{
	width:3500px;	
	height:318px;
	position:relative;
	overflow:hidden;
	float:left;
	-webkit-animation:slider 15s infinite;
	-moz-animation:slider 15s infinite;
	-ms-animation:slider 15s infinite;
	-o-animation:slider 15s infinite;
	}

@-webkit-keyframes slider {
	0%{ left:0 }
	10%{ left:0 }
	20%{ left:-710px }
	30%{ left:-710px }
	40%{ left:-1410px }
	50%{ left:-1410px }
	60%{ left:-2100px}
	70%{ left:-2100px }
	80%{ left:-2800px }
	90%{ left:-2800px }
	95%{ left:-3500px  }
	98%{left:-3500px }
	100%{ left:0 }
}

@-moz-keyframes slider {
	0%{ left:0 }
	10%{ left:0 }
	20%{ left:-710px }
	30%{ left:-710px }
	40%{ left:-1410px }
	50%{ left:-1410px }
	60%{ left:-2100px}
	70%{ left:-2100px }
	80%{ left:-2800px }
	90%{ left:-2800px }
	95%{ left:-3500px  }
	98%{left:-3500px }
	100%{ left:0 }
}
/*---------------- teckniq-content----------*/

div.teckniq-content-scroll{
	overflow:scroll;	
}

div.teckniq-content , div.teckniq-content-scroll{
	width:702px;
	min-height:410px;
	margin:auto;
	margin-top:25px;
	margin-bottom:20px;
	padding:15px;
	position:relative;
	box-shadow:2px 2px 15px #FF00FF;
	border:1px solid #FF0080;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;
}

div.teckniq-content h2 , div.teckniq-content h3 , div.teckniq-content-scroll h2 ,div.teckniq-content-scroll h3{
	text-align:right;
	margin-bottom:10px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	color:#2A2A2A;
	text-shadow:2px 2px 2px #CCC;
}
	
div.teckniq-content p , div.teckniq-content-scroll{
	text-align:right;
	line-height:19px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#2A2A2A;
	text-align:justify;
			
}
	
/*---------------------------------------------------------------------------------------------*/
/*--------------------------------------- Photography Techniques ------------------------------*/
/*---------------------------------------------------------------------------------------------*/

/*---------------- content----------*/
div.content-teck-base{
	width:702px;
	height:810px;
	margin:auto;
	margin-top:25px;
	padding:15px;
	position:relative;
}

div.content-teck-base p{	
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#000033;
	line-height:20px;
	text-align:justify;
}

.tec-img{
	float:left;
	border:1px solid #CCC;
	margin-right:5px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;
	}

/*--------------content-up-teckniq-------------*/

div.content-up-teckniq{
	width:692px;
	height:152px;
	padding:5px 5px;
	box-shadow:2px 2px 15px #999999;
	border:1px solid #999;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;
	}
	
div.content-up-teckniq a{
	text-decoration:none;
	color:#FF0080;
	font-size:16px;
	font-family:Tahoma, Geneva, sans-serif;	
	}
	
/*------------------ content left & right ---------------*/
	
div.content-left-teckniq , div.content-right-teckniq {
	width:334px;
	height:300px;
	margin-top:10px;
	padding:5px 5px;
	box-shadow:2px 2px 15px #999999;
	border:1px solid #999;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;	
}

div.content-left-teckniq{
	float:left;
}
	
div.content-right-teckniq{
	margin-left:355px;
}
	
div.content-left-teckniq a , div.content-right-teckniq a{
	text-decoration:none;
	color:#FF0080;
	font-size:16px;
	font-family:Tahoma, Geneva, sans-serif;	
}

/*---------------------------------------------------------------------------------------------*/
/*--------------------------------------- News-------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

/*---------------- content----------*/

div.content-news{
	width:auto;
	min-height:800px;
	padding:22px;
	margin-top:20px;
}

/*------------- content-pic -----------------*/

div.content-pic-news{
	width:auto;
	min-height:200px;
	background-image:url(../img/news-img/Photography1.jpg);
	background-repeat:no-repeat;
	background-size:717px 200px;
	padding-bottom:15px;	
}

div.text-news{
	background-color:rgb(244,254,205);
	opacity:0.7;
	width:160px;
	height:40px;
	color:black;
	float:left;
	margin-top:130px;
}

div.text-news p{
	font-family:myFont;	
	font-size:30px;	
}

@font-face
{
font-family:myFont;
src:url(../font/IranNastaliq.ttf); 
}

/*---------------------- content-info --------------------------------*/

div.content-info-news{
	width:auto;
	min-height:600px;
}

/*------------------ Content-Left ---------------------*/

div.contact-left-news{
	width:192px;
	min-height:3690px;
	float:left;	
	padding:8px;
	border:1px dashed rgb(185,208,188);
	border-radius:15px;
}

/*------------ email-news ------------ */

p.email-news{
	margin-top:15px;
	font-size:12px;
	margin-bottom:13px;
	font-family:'ColaborateBoldRegular', Arial, Helvetica, sans-serif;
}
	
input.input{
	padding:3px;
	border:1px solid #bbbdbf;
	border-radius:2px;
	background-color:#e3e1dd;
	color:#999;
	font-family:'ColaborateBoldRegular', Arial, Helvetica, sans-serif;
}
	
input.input:hover{
	background-color:#E9E9E9;
}

input.ok{
	padding:3px;
	color:#73716f;
	background-color:#c7c6c4;
	border:1px solid #bbbdbf;
	border-radius:2px;
	font-family:'ColaborateBoldRegular', Arial, Helvetica, sans-serif;
}

input.ok:hover{
	background-color:#CCC;
}

/*------------ news-list ------------ */

div.contact-left-news h2{
	font-size:14px;
	font-family:fontP;
	margin:40px 0 12px 0;	
	border-bottom:2px solid #B9D0BC;
}

div.contact-left-news h3{
	font-size:9px;
	font-family:fontP;
	text-align:right;
	line-height:25px;
	color:rgb(0,102,0);
}

div.contact-left-news a{
	text-decoration:none;
}

div.contact-left-news a:hover h3{
	background-color:#F5FAF8;
	color:#990000;
}

div.contact-left-news li{
	text-align:right;
	list-style:circle;
	font-size:11px;
	line-height:18px;
	font-family:'B Traffic',BTraffic,tahoma;	
}

div.contact-left-news ul{
	margin-right:16px;	
}

/*----------- contact-right -----------------------*/

div.contact-right-news{
	min-height:inherit;
	margin-left:200px;
	padding:20px;
}

div.contact-right-news h2{
	text-align:right;
	font-size:22px;
	color:rgb(0,102,0);
	text-shadow:1px 2px 3px burlyWood;
}

div.contact-right-news a{
	text-decoration:none;	
}

div.contact-right-news p{
	text-align:justify;
	font-size:12px;
	font-family:fontP;
	line-height:17px;	
}

@font-face
{
font-family:fontP;
src:url(../font/BNazanin.ttf); 
}

div.content-date{
	width:140px;
	height:12px;
	padding:3px;
	background-color:beige;
	border-radius:5px;
	color:#6A7A80;
	font-family:fontp;
	font-size:11px;
	text-align:center;	
}

div.contact-right-news .align{
	float:left;	
	margin-right:12px;
	margin-bottom:5px;
}

/*---------------------------------------------------------------------------------------------*/
/*--------------------------------------- History ---------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

/*---------------- content----------*/

div.content-history{
	width:auto;
	min-height:800px;
	padding:22px;
	margin-top:20px;
}

/*------------- content-pic -----------------*/

div.content-pic-history{
	width:auto;
	min-height:200px;
	display:block;
	background:-webkit-linear-gradient(left,rgb(197,226,213),beige);
	background:-moz-linear-gradient(left,rgb(197,226,213),beige);
	background:-o-linear-gradient(left,rgb(197,226,213),beige);
	border:2px solid rgb(197,226,213);
	margin-bottom:20px;
}

div.old-pic{
	float:right;
	width:200px;
	min-height:130px;
	padding:34px 0;	
}

div.new-pic{
	float:left;
	width:200px;
	min-height:100px;
	padding:47px 0;	
}

div.text-history{
	width:270px;
	height:70px;
	color:black;
	margin:65px 200px 0 220px;
	
}

div.text-history a{
	text-decoration:none;
	color:#663300;	
}

div.text-history a:hover{
	color:#990000;	
}

div.text-history p{
	font-family:myFont;	
	font-size:50px;	
}

@font-face
{
font-family:myFont;
src:url(../font/IranNastaliq.ttf); 
}

/*--------------------- content-info -------------------------*/

div.content-info-history{
	width:auto;
	min-height:600px;
	border:2px dashed rgb(197,226,213);	
	border-radius:20px;
	padding:20px;
}

div.text-pic{
	float:left;
	border:1px dotted #C5E2D5;
	border-radius:5px;
	margin-right:15px; 	
}

div.text-pic p.t{
	position:relative;
	font-size:9px;
	color:#993300;
	text-align:center;	
}

div.content-info-history h2 {
	padding: 10px;
	margin-top:9px;
	font-size:22px;
	color:rgb(0,90,0);
}

div.content-info-history a{
	text-decoration:none;	
}

div.content-info-history h3{
	text-align:right;
	margin-top:10px;
	font-size:18px;
	color:rgb(0,90,0);
	text-shadow:1px 2px 3px burlyWood;
}

div.content-info-history li{
	text-align:right;
	list-style:circle;
	font-size:11px;
	line-height:18px;
	font-family:'B Traffic',BTraffic,tahoma;	
}

div.content-info-history ul{
	margin-right:35px;	
}

span.shadow {
	background-image: -webkit-radial-gradient(50% 0%, ellipse farthest-side, rgba(130,186,120, 0.25) 0%, rgba(130,186,120, 0) 100%);
	background-image: -moz-radial-gradient(50% 0%, ellipse farthest-side, rgba(197,226,213, 0.25) 0%, rgba(197,226,213, 0) 100%);
	background-image: -ms-radial-gradient(50% 0%, ellipse farthest-side, rgba(197,226,213, 0.25) 0%, rgba(197,226,213, 0) 100%);
	background-image: -o-radial-gradient(50% 0%, ellipse farthest-side, rgba(197,226,213, 0.25) 0%, rgba(197,226,213, 0) 100%);
	background-image: radial-gradient(50% 0%, ellipse farthest-side, rgba(197,226,213, 0.25) 0%, rgba(197,226,213, 0) 100%);
	width: 100%;
	height: 12px;
	display: block;
	position: relative;
}

div.content-info-history p{
	text-align:justify;
	font-size:12px;
	line-height:20px;	
	font-family:'B Traffic',BTraffic,tahoma;
	margin-top:10px;
	text-indent:20px;	
}

div.content-info-history span{
	text-indent:20px;
}

div.text-pic .align{
	float:left;	
}

/*----------------------------------------------*/
/*-----------------gallery content--------------*/
/*----------------------------------------------*/

div.gallerycontent{
	width:702px;
	height:730px;
	margin:auto;
	margin-top:33px;
	padding:14px;
	position:relative;
}

div.gallerycontent div.p{
	width:450px;
	height:auto;
	margin:70px auto;
	border:2px solid #EAE0C5;
	border-radius:7px;
	padding:15px;
}

div.gallerycontent div.p p{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	text-align:center;
	text-align:justify;
	line-height:20px;
}

div.gallery-uni {
	width: 690px;
	height:500px;
	margin: 0 auto;
	margin-top:10px;
	position: relative;
	-webkit-box-shadow: 2px 0px 50px gray;
}

div.gallery-uni span {
	position: absolute;
	right: 0;
	bottom: 15px;
	color: #999;
	background: #fff;
	width:100px;
	text-align:center;
	padding: 10px;
	font-size: 13px;
	font-weight: bold;
}

div.gallery-uni h1 {
	background-color: white;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	padding:12px 5px;
	-webkit-box-shadow: 0px 2px 8px gray;
	-moz-box-shadow: 0px 2px 8px gray;
	box-shadow: 0px 2px 8px gray;
	border: 2px solid #f6f7de;
	border-radius:7px;
	position: relative;
	top: 413px;
	font-size: 24px;
	z-index: 8;
	text-align: center;
	width: 200px;
	left: 244px;
}


div.gallery-uni div{
	position:absolute;
	overflow:hidden;
	opacity:0.7;
	-webkit-transition:all 0.75s linear;
	-moz-transition:all 0.75s linear;
	-o-transition:all 0.75s linear;
	-ms-transition:all 0.75s linear;
	-webkit-box-shadow:-5px -5px 15px #666;
	-moz-box-shadow:-5px -5px 15px #666;
	-o-box-shadow:-5px -5px 15px #666;
	-ms-box-shadow:-5px -5px 15px #666;
	box-shadow:-5px -5px 15px #666;
}

div.gallery-uni div.issue1{
	-webkit-transform:rotate(-15deg);
	-moz-transform:rotate(-15deg);
	-o-transform:rotate(-15deg);
	-ms-transform:rotate(-15deg);
	transform:rotate(-15deg);
	top: 80px;
	left: 150px;
	z-index:1;
}

div.gallery-uni div.issue2{
	-webkit-transform:rotate(-15deg);
	-moz-transform:rotate(-15deg);
	-o-transform:rotate(-15deg);
	-ms-transform:rotate(-15deg);
	transform:rotate(-15deg);
	top: 200px;
	left:120px;
	z-index:7;
}

div.gallery-uni div.issue3{
	-webkit-transform:rotate(15deg);
	-moz-transform:rotate(15deg);
	-o-transform:rotate(15deg);
	-ms-transform:rotate(15deg);
	transform:rotate(15deg);
	top: 290px;
	left:410px;
	z-index:4;
}

div.gallery-uni div.issue4{
	-webkit-transform:rotate(-7deg);
	-moz-transform:rotate(-7deg);
	-o-transform:rotate(-7deg);
	-ms-transform:rotate(-7deg);
	transform:rotate(-7deg);
	top: 150px;
	left: 290px;
	z-index:3;
}


div.gallery-uni div.issue1:hover, div.gallery-uni div.issue2:hover, div.gallery-uni div.issue3:hover, div.gallery-uni div.issue4:hover{
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	transform:rotate(0deg);
	opacity:1;
	z-index:100;
}

div.gallery-uni div.issue1 a, div.gallery-uni div.issue2 a, div.gallery-uni div.issue3 a, div.gallery-uni div.issue4 a{
	text-decoration:none;
}

/*--------------------------------------------------*/
/*-----------------sub gallery content--------------*/
/*--------------------------------------------------*/

div.subgallery-content{
	width:702px;
	height:720px;
	margin:auto;
	margin-top:40px;
	padding:14px;
	position:relative;
}

div.subgallery-titr{
	width:100px;
	height:17px;
	padding:3px;
	background-color:beige;
	border-radius:5px;
	color:#6A7A80;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	text-align:center;
	font-weight:bold;
}

div.subgallery-h1  a img{
	width:180px;
	height:180px;
	margin:10px 0 10px 0;
	-webkit-box-shadow: 0 4px 10px #999;
	-moz-box-shadow: 0 4px 10px #999;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	opacity:0.7;
	z-index:100;

}

div.subgallery-h a img{
	width:220px;
	height:150px;
	margin:10px 0 10px 0;
	-webkit-box-shadow: 0 4px 10px #999;
	-moz-box-shadow: 0 4px 10px #999;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	opacity:0.7;
	z-index:100;
}

div.subgallery-h a img:hover, div.subgallery-h1 a img:hover{
	opacity:1;
	-webkit-transform:scale(1.5,1.5);
	-webkit-transform:all .75s linear;
	-moz-transform:scale(1.5,1.5);
	-moz-transform:all .75s linear;
	z-index:100;
}

/*---------------------------------------------*/
/*-----------------famous content--------------*/
/*---------------------------------------------*/
div.famous-content{
	width:702px;
	height:950px;
	margin:auto;
	margin-top:40px;
}
/*------------------agallery-------------------*/
div.agallery{
	width:702px;
	height:295px;	
	padding:2.5px 0;
	}
div.agallery img{
	width:200px;
	height:200px;
	border:7px solid #CCC;
	border-radius:10px 10px;
	margin:60px 0 10px 0;
	-webkit-box-shadow: 0 4px 10px #999;
	-moz-box-shadow: 0 4px 10px #999;
	-ms-box-shadow: 0 4px 10px #999;
	-o-box-shadow: 0 4px 10px #999;
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
	-webkit-transition: -webkit-transform .15s linear;
	-moz-transition: -moz-transform .15s linear;
	opacity:0.7;
	}
	
div.agallery img:hover{
	width:200px;
	height:200px;
	border:7px solid #CCC;
	margin:60px 0 10px 0;
	-webkit-box-shadow: 0 4px 10px #999;
	-moz-box-shadow: 0 4px 10px #999;
	-ms-box-shadow: 0 4px 10px #999;
	-o-box-shadow: 0 4px 10px #999;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-webkit-transition: -webkit-transform .15s linear;
	-moz-transition: -moz-transform .15s linear;
	-ms-transition: -ms-transform .15s linear;
	-o-transition: -o-transform .15s linear;
	transform: scale(1.5,1.5);
	-ms-transform: scale(1.5,1.5);
	-webkit-transform: scale(1.5,1.5); 
	-o-transform: scale(1.5,1.5);
	-moz-transform: scale(1.5,1.5);
	opacity:1;	
	}

/*----------------------------------------------*/
/*-----------------contact content--------------*/
/*----------------------------------------------*/

div.contact-content{
	width:702px;
	height:625px;
	margin:auto;
	margin-top:15px;
	padding:15px;
	position:relative;
}

div.contact-main-pic{
	width: 720px;
	height: 318px;
	margin: auto;
	margin-top: 38px;
}
/*-------------content-slider-contact-----------*/
div.slider-can {
	width:auto;
	height:305px;
	margin-top:33px;
}
/*------------content-div-left-contact------------*/
div.header-contact-left > h1 span {
	font-family:'B Homa', BHoma, tahoma;
	font-size:36px;
	color:#000;
	position:relative;
	top:50px;
}

div.can-left {
	float:left;
	width:140px;
	height:305px;
	position:relative;
	border-right:1px solid #999;
}

div.can-left ul {
	width:181px;
	height:100px;
	margin:auto;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	direction:ltr;
	text-align:left;
}

div.can-left li:hover {
	border-right:2px solid #030;
}

div.can-left li a {
	color:#666666;
	font-family:'B Homa', BHoma, tahoma;
	text-decoration:none;
	font-size:14px;
	line-height:20px;
}

div.can-left li a:hover {
	color:#CCCCCC;
	text-indent:50px;
}

/*-------------content-div-rigth-contact-----------*/

div.can-rigth {
	margin-left:140px;
	height:305px;
	overflow:hidden;
	border-top:1px solid #999;
}

div.slider-can-rigth {
	height:610px;
}

div.slider-can-rigth div {
	width:540px;
	height:305px;
	margin-bottom:10px;
	padding:0;
}

div.slider-can-rigth div:first-child {
	background:url(../img/contact/contact-ue.jpg) left 100px no-repeat;
}

div.slider-can-rigth div p {
	width:auto;
	direction:rtl;
	color:#666;
	text-align:right;
	font-weight:bold;
}

div.slider-can-rigth div p a {
	color:#326699;
	text-decoration:none;
	padding:0 3px;
}

div.slider-can-rigth div p a:hover {
	color:#FF9900;
}

div.slider-can-rigth div p span {
	position:relative;
	top:10px;
	line-height:25px;
}

div.slider-can-rigth div p span.ask a {
	display:block;
}

div.left_ask {
	width:50px;
	height:40px;
	background:#009933;
}

div.slider-can-rigth div:last-child {
	position:relative;
	background:url(../img/contact/email.jpg) left 100px no-repeat;
}

form.frm-contact-us {
	width:200px;
	height:200px;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:-170px;
	margin:auto;
}

form.frm-contact-us input[type="text"], form.frm-contact-us textarea {
	border:1px dotted #FF6600;
	-webkit-border-radius:5px;
	width:180px;
	height:10px;
	text-align:center;
	padding:5px;
}

form.frm-contact-us input[type="text"]:hover, form.frm-contact-us textarea:hover, form.frm-contact-us select:hover {
	background:#FFCC00;
}

form.frm-contact-us input[type="text"]:nth-child(3) {
	border:1px dotted #00FF00 !important;
}

form.frm-contact-us select {
	width:90px;
	height:20px;
	border:1px dotted #FF6600;
	-webkit-border-radius:5px;
}

form.frm-contact-us textarea {
	height:90px !important;
}

form.frm-contact-us input[type="submit"] {
	width:50px;
	height:20px;
	background:#666666;
	color:#FFFFFF;
	-webkit-border-radius:5px;
}

/*---------------------------------------------*/
/*------------------lens content---------------*/
/*---------------------------------------------*/

@keyframes slider-lenz {
	0%{ left:0 }
	10%{ left:-710px }
	20%{ left:-710px }
	40%{ left:-710px }
	50%{ left:-1410px }
	70%{ left:-1410px }
	80%{ left:-1410px}
	90%{left:-2115px }
	95%{left:-2115px  }
	98%{left:-2115px  }
	100%{ left:0 }
}

@-webkit-keyframes slider-lenz {
	0%{ left:0 }
	10%{ left:-710px }
	20%{ left:-710px }
	40%{ left:-710px }
	50%{ left:-1410px }
	70%{ left:-1410px }
	80%{ left:-1410px}
	90%{left:-2115px }
	95%{left:-2115px  }
	98%{left:-2115px  }
	100%{ left:0 }
}

@-moz-keyframes slider-lenz {
	0%{ left:0 }
	10%{ left:-710px }
	20%{ left:-710px }
	40%{ left:-710px }
	50%{ left:-1410px }
	70%{ left:-1410px }
	80%{ left:-1410px}
	90%{left:-2115px }
	95%{left:-2115px  }
	98%{left:-2115px  }
	100%{ left:0 }
}

@-o-keyframes slider-lenz {
	0%{ left:0 }
	10%{ left:-710px }
	20%{ left:-710px }
	40%{ left:-710px }
	50%{ left:-1410px }
	70%{ left:-1410px }
	80%{ left:-1410px}
	90%{left:-2115px }
	95%{left:-2115px  }
	98%{left:-2115px  }
	100%{ left:0 }
}

@-ms-keyframes slider-lenz {
	0%{ left:0 }
	10%{ left:-710px }
	20%{ left:-710px }
	40%{ left:-710px }
	50%{ left:-1410px }
	70%{ left:-1410px }
	80%{ left:-1410px}
	90%{left:-2115px }
	95%{left:-2115px  }
	98%{left:-2115px  }
	100%{ left:0 }
}


div.lens-main-pic{
	width: 720px;
	height: 318px;
	margin: auto;
	margin-top: 33px;
}

div.slider-lenz{
	width:700px;
	height:240px;
	margin-top:10px;
	overflow:hidden;
}

div.slider-lenz-image{
	width:2820px;
	position:relative;
	-webkit-animation:slider-lenz 40s infinite;
}

div.slider-lenz-image img{
		float:left;
		left:0;
		margin-right:5px;
		border:20px solid gray;
		border-image:url(../img/lenz/border.jpg) 20 20 20 20 stretch stretch;
		box-shadow:0 0 15px #CCCCCC;
}

div.lens-slider-can {
	width:auto;
	height:365px;
	margin-top:0px;
}

div.lens-can-left {
	float:left;
	width:180px;
	height:365px;
	position:relative;
	border-right:1px solid #999;
}

div.lens-can-left ul {
	width:181px;
	height:100px;
	margin:auto;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	direction:ltr;
	text-align:left;
}

div.lens-can-left li:hover {
	border-right:2px solid #030;
}

div.lens-can-left li a {
	color:#666666;
	font-family:'B Homa', BHoma, tahoma;
	text-decoration:none;
	font-size:14px;
	line-height:20px;
}

div.lens-can-left li a:hover {
	color:#CCCCCC;
	text-indent:50px;
}

div.lens-can-rigth {
	margin-left:180px;
	height:365px;
	overflow:hidden;
	border-top:1px solid #999;
}

div.lens-slider-can-rigth {
	height:710px;
}

div.lens-slider-can-rigth P{
	text-align:justify;
	direction:rtl;
	line-height:20PX;
}

div.lens-page-noe{
	background:url(../img/lenz/pageone.jpg) center bottom no-repeat;
}

div.lens-page-three{
	background:url(../img/lenz/pageone.jpg) center bottom no-repeat;
}

div.lens-page-foure {
	background:url(../img/lenz/pagetwo.jpg) center bottom no-repeat;
}

div.lens-page-five{
	background:url(../img/lenz/pageone.jpg) center bottom no-repeat;
}

div.lens-page-six{
	background:url(../img/lenz/pagetwo.jpg) center bottom no-repeat;
}

div.lens-page-six{
	background:url(../img/lenz/pagetwo.jpg) center bottom no-repeat;
}

div.lens-page-seven{
	background:url(../img/lenz/pagetwo.jpg) center bottom no-repeat;
}

div.lens-page-eigth{
	background:url(../img/lenz/pagetwo.jpg) center bottom no-repeat;
}

div.lens-page-two table{
	margin-top:40px;
	width:520px;
	height:100px;
}

div.lens-page-two table th{
	background:#D6AFCB;
}

div.lens-page-two table td{
	background:#E7D6E2;
	color:#900;
	text-align:right;
	direction:rtl;
	padding:3px;
}

div.lens-slider-can-rigth div {
	width:500px;
	height:365px;
	margin-bottom:10px;
	padding:0;
}

div.lens-slider-can-rigth div p {
	width:auto;
	direction:rtl;
	color:#666;
	text-align:justify;
	font-weight:bold;
}

div.lens-slider-can-rigth div p a {
	color:#326699;
	text-decoration:none;
	padding:0 3px;
}

div.lens-slider-can-rigth div p a:hover {
	color:#FF9900;
}

div.lens-slider-can-rigth div p span {
	position:relative;
	top:10px;
	line-height:25px;
}

div.lens-slider-can-rigth div p span.ask a {
	display:block;
}

div.lens-slider-can-rigth div:last-child {
	position:relative;
}

/*-----------------start deferent-camera---------------*/
* {
	font-family:'B Homa', BHoma, tahoma;
}

div.header-deferent-camera {
	width:auto;
	height:25px;
	margin-top:10px;
	padding:3px 10px;
	padding-top:1px;
}

div.header-deferent-camera p {
	width:400px;
	position:relative;
	margin-left:70px;
	margin-top:10px;
	color:#793131;
	direction:rtl;
	border:1px dotted #FFF;
	background:#E7D6E2;
	-webkit-border-radius:6px;
	-ms-border-radius:6px;
	-o-border-radius:6px;
	-moz-border-radius:6px;
}

div.text-deferent-camera {
	width:auto;
	height:125px;
}

div.text-deferent-camera-left {
	width:550px;
	height:110px;
	float:left;
	padding:10px;
	text-align:justify;
	direction:rtl;
	color:#000 !important;
	line-height:20px;
}

div.text-deferent-camera-rigth {
	margin-left:550px;
	height:125px;
}

div.text-deferent-camera-rigth img {
	position:relative;
	top:-10px;
}

div.bg-color {
	width:auto;
	height:870px;
	background:#E7D9B2  -webkit-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0)60%, transparent 90%);
	background:#E7D9B2 -o-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0)60%, transparent 90%);
	background:#E7D9B2 -ms-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0)60%, transparent 90%); 													    background:#E7D9B2 -moz-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0)60%, transparent 90%);
	-webkit-border-bottom-left-radius:700px;
	-ms-border-bottom-left-radius:700px;
	-moz-border-bottom-left-radius:700px;
	-o-border-bottom-left-radius:700px;
}

a.position{
	position:relative;
	top:0px;	
}

div.page-six a{
	display:block;
	text-align:center;
}

div.page-seven{
	position:relative;
}

div.page-seven-image{
	width:310px !important;
	height:300px !important;
	margin-left:10px;
	border:20px solid #333;
	background:#000000;
	border-image:url(../img/contact/border-image-20x20.jpg)20 20 20 20 stretch stretch;
	box-shadow:0 0 15px #0E0D0D; 
}

div.page-seven a{	
	color:#CCCCCC;
	position:absolute;
	right:0;
	bottom:200px;
	text-decoration:none;
}
