@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
}

/*div{
	outline:1px solid #666;
}*/

div.clear{
	width:0;
	height:0;
	clear:both;	
}

body{
	background:url(../img/new.jpg) no-repeat top center;	
}

div.container{
	width:760px;
	margin:0 auto;
}

/*----------menu-----------*/
div.menu{
    width:500px;
    height:41px;
    margin:auto;
	padding-top:15px;
}

div.menu > ul{
    list-style:none;
    width:auto;
    margin:0 auto;
}

div.menu ul li{
    float:right;
    height:56px;
    text-indent:10px;
    padding-right:20px;
    font-family:myFont;
}

div.menu ul li a{
    display:block;
    padding:2px 7px;
    text-decoration:none;
    color:#555;
    font-family:myFont;
    overflow:hidden;
    font-size:28px;
    height:52px;
}
@font-face
{
font-family:myFont;
src:url(../font/IranNastaliq.ttf); 
}

#home{
    width:70px;    
    }
#gallery{
    width:50px; 
    }
#news{
    width:60px; 
    }
#about{
    width:60px;    
    }
#contact{
    width:60px;    
    }
div.menu li:hover{}
div.menu li:hover a{
    color:#800000;
}

/*----------endmenu-----------*/

/*-------------gallery content----------*/
div.gallerycontent{
	width:702px;
	height:730px;
	margin:auto;
	margin-top:33px;
	padding:14px;
	position:relative;
}

div.gallerycontent div.p{
	width:450px;
	height:auto;
	margin:70px auto;
	border:2px solid #EAE0C5;
	border-radius:7px;
	padding:15px;
}

div.gallerycontent div.p p{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	text-align:center;
	text-align:justify;
	line-height:20px;
}

div.gallery-uni {
	width: 690px;
	height:500px;
	margin: 0 auto;
	margin-top:10px;
	position: relative;
	-webkit-box-shadow: 2px 0px 50px gray;
}

div.gallery-uni span {
	position: absolute;
	right: 0;
	bottom: 15px;
	color: #999;
	background: #fff;
	width:100px;
	text-align:center;
	padding: 10px;
	font-size: 13px;
	font-weight: bold;
}

div.gallery-uni h1 {
	background-color: white;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	padding:12px 5px;
	-webkit-box-shadow: 0px 2px 8px gray;
	-moz-box-shadow: 0px 2px 8px gray;
	box-shadow: 0px 2px 8px gray;
	border: 2px solid #f6f7de;
	border-radius:7px;
	position: relative;
	top: 413px;
	font-size: 24px;
	z-index: 8;
	text-align: center;
	width: 200px;
	left: 244px;
}


div.gallery-uni div{
	position:absolute;
	overflow:hidden;
	opacity:0.7;
	-webkit-transition:all 0.75s linear;
	-moz-transition:all 0.75s linear;
	-o-transition:all 0.75s linear;
	-ms-transition:all 0.75s linear;
	-webkit-box-shadow:-5px -5px 15px #666;
	-moz-box-shadow:-5px -5px 15px #666;
	-o-box-shadow:-5px -5px 15px #666;
	-ms-box-shadow:-5px -5px 15px #666;
	box-shadow:-5px -5px 15px #666;
}

div.gallery-uni div.issue1{
	-webkit-transform:rotate(-15deg);
	-moz-transform:rotate(-15deg);
	-o-transform:rotate(-15deg);
	-ms-transform:rotate(-15deg);
	transform:rotate(-15deg);
	top: 80px;
	left: 150px;
	z-index:1;
}

div.gallery-uni div.issue2{
	-webkit-transform:rotate(-15deg);
	-moz-transform:rotate(-15deg);
	-o-transform:rotate(-15deg);
	-ms-transform:rotate(-15deg);
	transform:rotate(-15deg);
	top: 200px;
	left:120px;
	z-index:7;
}

div.gallery-uni div.issue3{
	-webkit-transform:rotate(15deg);
	-moz-transform:rotate(15deg);
	-o-transform:rotate(15deg);
	-ms-transform:rotate(15deg);
	transform:rotate(15deg);
	top: 290px;
	left:410px;
	z-index:4;
}

div.gallery-uni div.issue4{
	-webkit-transform:rotate(-7deg);
	-moz-transform:rotate(-7deg);
	-o-transform:rotate(-7deg);
	-ms-transform:rotate(-7deg);
	transform:rotate(-7deg);
	top: 150px;
	left: 290px;
	z-index:3;
}


div.gallery-uni div.issue1:hover, div.gallery-uni div.issue2:hover, div.gallery-uni div.issue3:hover, div.gallery-uni div.issue4:hover{
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	transform:rotate(0deg);
	opacity:1;
	z-index:100;
}

div.gallery-uni div.issue1 a, div.gallery-uni div.issue2 a, div.gallery-uni div.issue3 a, div.gallery-uni div.issue4 a{
	text-decoration:none;
}

/*--------------sub gallery content------------*/

div.subgallery-content{
	width:702px;
	height:720px;
	margin:auto;
	margin-top:40px;
	padding:14px;
	position:relative;
}

div.subgallery-titr{
	width:100px;
	height:17px;
	padding:3px;
	background-color:beige;
	border-radius:5px;
	color:#6A7A80;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	text-align:center;
	font-weight:bold;
}

div.subgallery-h1  a img{
	width:180px;
	height:180px;
	margin:10px 0 10px 0;
	-webkit-box-shadow: 0 4px 10px #999;
	-moz-box-shadow: 0 4px 10px #999;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	opacity:0.7;
	z-index:100;

}

div.subgallery-h a img{
	width:220px;
	height:150px;
	margin:10px 0 10px 0;
	-webkit-box-shadow: 0 4px 10px #999;
	-moz-box-shadow: 0 4px 10px #999;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	opacity:0.7;
	z-index:100;
}

div.subgallery-h a img:hover, div.subgallery-h1 a img:hover{
	opacity:1;
	-webkit-transform:scale(1.5,1.5);
	-webkit-transform:all .75s linear;
	-moz-transform:scale(1.5,1.5);
	-moz-transform:all .75s linear;
	z-index:100;
}

/*----------footer-----------*/
div.head-footer{
	width:732px;
	height:20px;
	margin:auto;	
}

div.footer{
	width:732px;
	height:108px;
	margin:auto;
	font-size:10px;
	text-align:center ;
	font-family:Tahoma, Geneva, sans-serif;
	direction:ltr;	
	background-color:#e7d9b2;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

div.footer div.foot-in{
	width:auto;
	height:25px;	
	font-size:11px;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	direction:ltr;
	color:#61522b;
	float:left;
	margin-top:35px;
	margin-left:235px;
}

div.footer img{
	float:left;
	margin-left:-97px;
}

div.foot-in a{
	color:#61522b;
	text-decoration:none;
}