@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
}

/*div{
	outline:1px solid #666;
}*/

div.clear{
	width:0;
	height:0;
	clear:both;	
}

body{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

div.container{
	width:1350px;
	height:auto;
	background:url(../img/new.jpg)  no-repeat;
	background-repeat:no-repeat;
	margin:auto;
}

/*----------menu-----------*/
div.menu{
    width:500px;
    height:41px;
    margin:auto;
	padding-top:15px;
}

div.menu > ul{
    list-style:none;
    width:auto;
    margin:0 auto;
}

div.menu ul li{
    float:right;
    height:56px;
    text-indent:10px;
    padding-right:20px;
    font-family:myFont;
}

div.menu ul li a{
    display:block;
    padding:2px 7px;
    text-decoration:none;
    color:#555;
    font-family:myFont;
    overflow:hidden;
    font-size:28px;
    height:52px;
}
@font-face
{
font-family:myFont;
src:url(../font/IranNastaliq.ttf); 
}

#home{
    width:70px;    
    }
#gallery{
    width:50px; 
    }
#news{
    width:60px; 
    }
#about{
    width:60px;    
    }
#contact{
    width:60px;    
    }
div.menu li:hover{}
div.menu li:hover a{
    color:#800000;
}

/*----------endmenu-----------*/
/*---------------- content----------*/

div.content{
	width:702px;
	height:720px;
	margin:auto;
	margin-top:40px;
	padding:14px;
	position:relative;
}

div.titr{
	width:100px;
	height:17px;
	padding:3px;
	background-color:beige;
	border-radius:5px;
	color:#6A7A80;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	text-align:center;
	font-weight:bold;
}

div.h1  a img{
	width:180px;
	height:180px;
	margin:10px 0 10px 0;
	-webkit-box-shadow: 0 4px 10px #999;
	-moz-box-shadow: 0 4px 10px #999;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	opacity:0.7;
	z-index:100;

}

div.h a img{
	width:220px;
	height:150px;
	margin:10px 0 10px 0;
	-webkit-box-shadow: 0 4px 10px #999;
	-moz-box-shadow: 0 4px 10px #999;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	opacity:0.7;
	z-index:100;
}

div a img:hover{
	opacity:1;
	-webkit-transform:scale(1.5,1.5);
	-webkit-transform:all .75s linear;
	-moz-transform:scale(1.5,1.5);
	-moz-transform:all .75s linear;
	z-index:100;
}

/*----------footer-----------*/
div.head-footer{
	width:732px;
	height:20px;
	margin:auto;	
}

div.footer{
	width:732px;
	height:108px;
	margin:auto;
	font-size:10px;
	text-align:center ;
	font-family:Tahoma, Geneva, sans-serif;
	direction:ltr;	
	background-color:#e7d9b2;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

div.footer div.foot-in{
	width:auto;
	height:25px;	
	font-size:11px;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	direction:ltr;
	color:#61522b;
	float:left;
	margin-top:35px;
	margin-left:235px;
}

div.footer img{
	float:left;
	margin-left:-97px;
}

div.foot-in a{
	color:#61522b;
	text-decoration:none;
}