@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
}

div{
	outline:1px solid #666;
}

div.clear{
	width:0;
	height:0;
	clear:both;	
}

body{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

div.container{
	width:1350px;
	height:1446px;
	background-image:url(../img/new.jpg);
	background-repeat:no-repeat;
	margin:auto;
}


/*----------menu-----------*/
div.menu{
    width:500px;
    height:41px;
    margin:auto;
	padding-top:15px;
}

div.menu > ul{
    list-style:none;
    width:auto;
    margin:0 auto;
}

div.menu ul li{
    float:right;
    height:56px;
    text-indent:10px;
    padding-right:20px;
    font-family:myFont;
}

div.menu ul li a{
    display:block;
    padding:2px 7px;
    text-decoration:none;
    color:#555;
    font-family:myFont;
    overflow:hidden;
    font-size:28px;
    height:52px;
}
@font-face
{
font-family:myFont;
src:url(../font/IranNastaliq.ttf); 
}

#home{
    width:70px;    
    }
#gallery{
    width:50px; 
    }
#news{
    width:60px; 
    }
#about{
    width:60px;    
    }
#contact{
    width:60px;    
    }
div.menu li:hover a{
    color:#800000;
}

/*----------endmenu-----------*/

div.main-pic{
	width:690px;
	height:318px;
	margin:auto;
	margin-top:40px;
	overflow:hidden;
}
div.base{
	width:3500px;	
	height:318px;
	position:relative;
	overflow:hidden;
	float:left;
	-webkit-animation:slider 15s infinite;
	-moz-animation:slider 15s infinite;
	-ms-animation:slider 15s infinite;
	-o-animation:slider 15s infinite;
	}

@-webkit-keyframes slider {
	0%{ left:0 }
	10%{ left:0 }
	20%{ left:-710px }
	30%{ left:-710px }
	40%{ left:-1410px }
	50%{ left:-1410px }
	60%{ left:-2100px}
	70%{ left:-2100px }
	80%{ left:-2800px }
	90%{ left:-2800px }
	95%{ left:-3500px  }
	98%{left:-3500px }
	100%{ left:0 }
}

/*---------------- content----------*/
div.content{
	width:702px;
	height:810px;
	margin:auto;
	margin-top:25px;
	padding:15px;
	position:relative;
}
div.content h2{
	text-align:center;
	line-height:28px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	color:#2A2A2A;
	text-shadow:3px 3px #999999;	
	}
div.content p{
	text-align:right;
	line-height:28px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#2A2A2A;
	text-align:justify;
			
	}
/*----------footer-----------*/
div.head-footer{
	width:732px;
	height:30px;
	margin:auto;	
}

div.footer{
	width:732px;
	height:108px;
	margin:auto;
}