@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;	
}

/*div{
	outline:1px solid #666;
}
*/
div.clear{
	width:0;
	height:0;
	clear:both;	
}

body{
	background:url(../img/new.jpg) no-repeat top center;	
}

div.container{
	width:760px;
	margin:0 auto;
}

/*----------menu-----------*/
div.menu{
	width:auto;
	min-height:75px;
}

div.menu > ul{
	list-style:none;
	width:700px;
	margin:0 auto;
}

div.menu ul li{
	float:right;
	height:56px;
	text-indent:10px;
	padding-right:20px;
	font-family:myFont;
}

div.menu ul li a{
	display:block;
	padding:2px 7px;
	text-decoration:none;
	color:#555;
	font-family:myFont;
	overflow:hidden;
	font-size:28px;
	height:52px;
}
@font-face
{
font-family:myFont;
src:url(../font/IranNastaliq.ttf); 
}

#home{
	width:120px;	
	}
#gallery{
	width:85px;	
	}
#news{
	width:70px;	
	}
#about{
	width:112px;	
	}
#contact{
	width:120px;	
	}
div.menu li:hover{}
div.menu li:hover a{
	color:#800000;
}
/*----------submenu-----------*/

div.menu li ul{
	list-style:none;
	position:absolute;
	display:none;
	padding:0;
}

div.menu li:hover ul{
	display:block;
	color:#000;	
}

div.menu li li{
	float:none;
}

div.menu li:hover ul a{
	float:none;
	color:#000;
	font-family:myFont;
	font-size:20px;
}
@font-face
{
font-family:myFont;
src:url(../font/IranNastaliq.ttf); 
}

div.menu li li a:hover{
	color:#800000;
}

div.menu li ul li:hover{}


/*---------------- content----------*/

div.content{
	width:auto;
	min-height:800px;
	padding:22px;
}

/*------------- content-pic -----------------*/

div.content-pic{
	width:auto;
	min-height:200px;
	background-image:url(../img/Photography1.jpg);
	background-repeat:no-repeat;
	background-size:717px 200px;
	padding-bottom:15px;	
}

div.text{
	background-color:rgb(244,254,205);
	opacity:0.7;
	width:160px;
	height:40px;
	color:black;
	float:left;
	margin-top:130px;
}

div.text p{
	font-family:myFont;	
	font-size:30px;	
}

@font-face
{
font-family:myFont;
src:url(../font/IranNastaliq.ttf); 
}

/*-------------------------------- content-info -------------------------------------------------*/

div.content-info{
	width:auto;
	min-height:600px;	
}

/*------------------ Content-Left --------------------------------*/

div.contact-left{
	width:192px;
	min-height:3730px;
	float:left;	
	padding:8px;
	border:1px dashed rgb(185,208,188);
	border-radius:15px;
}

/*------------ email-news ------------ */

p.email-news{
	margin-top:15px;
	font-size:12px;
	margin-bottom:13px;
	font-family:'ColaborateBoldRegular', Arial, Helvetica, sans-serif;
}
	
input.input{
	padding:3px;
	border:1px solid #bbbdbf;
	border-radius:2px;
	background-color:#e3e1dd;
	color:#999;
	font-family:'ColaborateBoldRegular', Arial, Helvetica, sans-serif;
}
	
input.input:hover{
	background-color:#E9E9E9;
}

input.ok{
	padding:3px;
	color:#73716f;
	background-color:#c7c6c4;
	border:1px solid #bbbdbf;
	border-radius:2px;
	font-family:'ColaborateBoldRegular', Arial, Helvetica, sans-serif;
}

input.ok:hover{
	background-color:#CCC;
}

/*------------ news-list ------------ */

div.contact-left h2{
	font-size:14px;
	font-family:fontP;
	margin:40px 0 12px 0;	
	border-bottom:2px solid #B9D0BC;
}

div.contact-left h3{
	font-size:9px;
	font-family:fontP;
	text-align:right;
	line-height:25px;
	color:rgb(0,102,0);
}

div.contact-left a{
	text-decoration:none;
}

div.contact-left a:hover h3{
	background-color:#F5FAF8;
	color:#990000;
}

div.contact-left li{
	text-align:right;
	list-style:circle;
	font-size:11px;
	line-height:18px;
	font-family:'B Traffic',BTraffic,tahoma;	
}

div.contact-left ul{
	margin-right:16px;	
}

/*----------- contact-right -----------------------*/

div.contact-right{
	min-height:inherit;
	margin-left:200px;
	padding:20px;
}

div.contact-right h2{
	text-align:right;
	font-size:22px;
	color:rgb(0,102,0);
	text-shadow:1px 2px 3px burlyWood;
}

div.contact-right a{
	text-decoration:none;	
}

div.contact-right p{
	text-align:right;
	font-size:12px;
	font-family:fontP;
	line-height:17px;	
}

@font-face
{
font-family:fontP;
src:url(../font/BNazanin.ttf); 
}

div.content-date{
	width:140px;
	height:12px;
	padding:3px;
	background-color:beige;
	border-radius:5px;
	color:#6A7A80;
	font-family:fontp;
	font-size:11px;
	text-align:center;	
}



/*----------footer-----------*/

div.footer{
	width:auto;
	height:108px;
}
