@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
}

div.clear{
	width:0;
	height:0;
	clear:both;	
}

body{
	background:url(../img/new.jpg) no-repeat top center;	
}

div.container{
	width:760px;
	margin:0 auto;
}

/*----------menu-----------*/

div.menu{
    width:500px;
    height:41px;
    margin:auto;
	padding-top:15px;
}

div.menu > ul{
    list-style:none;
    width:auto;
    margin:0 auto;
}

div.menu ul li{
    float:right;
    height:56px;
    text-indent:10px;
    padding-right:20px;
    font-family:myFont;
}

div.menu ul li a{
    display:block;
    padding:2px 7px;
    text-decoration:none;
    color:#555;
    font-family:myFont;
    overflow:hidden;
    font-size:28px;
    height:52px;
}
@font-face
{
font-family:myFont;
src:url(../font/IranNastaliq.ttf); 
}

#home{
    width:70px;    
    }
#gallery{
    width:50px; 
    }
#news{
    width:60px; 
    }
#about{
    width:60px;    
    }
#contact{
    width:60px;    
    }
div.menu li:hover a{
    color:#800000;
}

/*----------endmenu-----------*/

div.main-pic{
	width:690px;
	height:318px;
	margin:auto;
	margin-top:40px;
	overflow:hidden;
}
div.base{
	width:3500px;	
	height:318px;
	position:relative;
	overflow:hidden;
	float:left;
	-webkit-animation:slider 15s infinite;
	-moz-animation:slider 15s infinite;
	-ms-animation:slider 15s infinite;
	-o-animation:slider 15s infinite;
	}

@-webkit-keyframes slider {
	0%{ left:0 }
	10%{ left:0 }
	20%{ left:-710px }
	30%{ left:-710px }
	40%{ left:-1410px }
	50%{ left:-1410px }
	60%{ left:-2100px}
	70%{ left:-2100px }
	80%{ left:-2800px }
	90%{ left:-2800px }
	95%{ left:-3500px  }
	98%{left:-3500px }
	100%{ left:0 }
}
	
/*---------------- content----------*/
div.content{
	width:702px;
	height:810px;
	margin:auto;
	margin-top:25px;
	padding:15px;
	position:relative;
}
/*--------------div.content-1-------------*/

div.content-1{
	width:692px;
	height:152px;
	padding:5px 5px;
	box-shadow:2px 2px 15px #999999;
	border:1px solid #999;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;
	}
	
#zed{
	width:160px;
	height:120px;
	float:left;
	margin-top:0;
	border:1px solid #CCC;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;
	}
	
div.content-1 p{
	text-align:right;	
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#000033;
	line-height:16px;
	text-align:justify;
	}
	
div.content-1 a{
	text-decoration:none;
	color:#FF0080;
	font-size:16px;
	font-family:Tahoma, Geneva, sans-serif;	
	}
	
	
/*------------------div.content-2----------*/	
div.content-2{
	width:323px;
	height:282px;
	margin-top:10px;
	float:left;
	padding:5px 5px;
	box-shadow:2px 2px 15px #999999;
	border:1px solid #999;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;	
	}
	
#hdr{
	width:200px;
	height:144px;	
	float:left;
	margin-top:0;
	border:1px solid #CCC;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;	
	}

div.content-2 p{
	text-align:right;	
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#000033;
	line-height:20px;
	}
		
div.content-2 a{
	text-decoration:none;
	color:#FF0080;
	font-size:16px;
	font-family:Tahoma, Geneva, sans-serif;	
	}

/*---------------content-3------------*/

div.content-3{
	width:350px;
	height:304px;
	margin-top:10px;
	margin-left:346px;
	box-shadow:2px 2px 15px #999999;
	padding:5px 5px;
	border:1px solid #999;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;		
	}
	
#ping{
	width:200px;
	height:133px;
	float:left;
	margin-top:0;
	border:1px solid #CCC;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;		
	}
	
div.content-3 p{
	text-align:right;	
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#000033;
	line-height:20px;
	}	
	
div.content-3 a{
	text-decoration:none;
	color:#FF0080;
	font-size:16px;
	font-family:Tahoma, Geneva, sans-serif;	
	}
/*------------ content-4---------------*/
div.content-4{
	width:328px;
	height:282px;
	margin-top:10px;
	float:left;	
	box-shadow:2px 2px 15px #999999;
	padding:5px;
	border:1px solid #999;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;			
	}
	
#mad{
	width:200px;
	height:150px;
	float:left;
	margin-top:0;
	border:1px solid #CCC;	
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;		
	}
	

div.content-4 p{
	text-align:right;	
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#000033;
	line-height:20px;
	}	
	
div.content-4 a{
	text-decoration:none;
	color:#FF0080;
	font-size:16px;
	font-family:Tahoma, Geneva, sans-serif	
	}
	
/*------------content-5----------*/

div.content-5{
	width:338px;
	height:282px;
	margin-top:10px;
	margin-left:346px;
	box-shadow:2px 2px 15px #999999;
	padding:5px;
	border:1px solid #999;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;	
	}
	
#nama{
	width:200px;
	height:150px;
	float:left;
	margin-top:0;
	border:1px solid #CCC;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;			
	}
	

div.content-5 p{
	text-align:right;	
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#000033;
	line-height:20px;
	}	
	
div.content-5 a{
	text-decoration:none;
	color:#B065E2;
	font-size:16px;
	font-family:Tahoma, Geneva, sans-serif;		
	}
/*----------footer-----------*/
div.head-footer{
	width:732px;
	height:20px;
	margin:auto;	
}

div.footer{
width:732px;
	height:108px;
	margin:auto;
	font-size:10px;
	text-align:center ;
	font-family:Tahoma, Geneva, sans-serif;
	direction:ltr;	
	background-color:#e7d9b2;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

div.footer div.foot-in{
	width:auto;
	height:25px;	
	font-size:11px;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	direction:ltr;
	color:#61522b;
	float:left;
	margin-top:35px;
	margin-left:235px;
}

div.footer img{
	float:left;
	margin-left:-97px;
}

div.foot-in a{
	color:#61522b;
	text-decoration:none;
}