@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
}

div{
	outline:1px solid #666;
}

div.clear{
	width:0;
	height:0;
	clear:both;	
}

body{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

div.container{
	width:1350px;
	height:1446px;
	background-image:url(../img/new.jpg);
	background-repeat:no-repeat;
	margin:auto;
}

/*----------menu-----------*/
div.menu{
    width:500px;
    height:41px;
    margin:auto;
	padding-top:15px;
}

div.menu > ul{
    list-style:none;
    width:auto;
    margin:0 auto;
}

div.menu ul li{
    float:right;
    height:56px;
    text-indent:10px;
    padding-right:20px;
    font-family:myFont;
}

div.menu ul li a{
    display:block;
    padding:2px 7px;
    text-decoration:none;
    color:#555;
    font-family:myFont;
    overflow:hidden;
    font-size:28px;
    height:52px;
}
@font-face
{
font-family:myFont;
src:url(../font/IranNastaliq.ttf); 
}

#home{
    width:70px;    
    }
#gallery{
    width:50px; 
    }
#news{
    width:60px; 
    }
#about{
    width:60px;    
    }
#contact{
    width:60px;    
    }
div.menu li:hover a{
    color:#800000;
}

/*----------endmenu-----------*/

div.main-pic{
	width:716px;
	height:318px;
	margin:auto;
	margin-top:40px;
}
/*---------------- content----------*/
div.content{
	width:702px;
	height:810px;
	margin:auto;
	margin-top:25px;
	padding:15px;
	position:relative;
}

/*----------footer-----------*/
div.head-footer{
	width:732px;
	height:30px;
	margin:auto;	
}

div.footer{
	width:732px;
	height:108px;
	margin:auto;
}