@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
}

/*div{
	outline:1px solid #666;	
}
*/
div.clear{
	width:0;
	height:0;
	clear:both;	
}

body{
	background:url(../img/main_bg.jpg) no-repeat top center;	
}

div.container{
	width:760px;
	margin:0 auto;
	padding-top:1px;
}

/*----------menu-----------*/

div.show{
	width:716px;
	overflow:hidden;
}

div.menu-train{
	width:3000px;
}

div.menu-train > div{
	width:32px;
	float:left;
	-webkit-transition:all .75s;/* Safari and Chrome */
	-moz-transition:all .75s;/* Firefox */
}

div.show:hover .menu-train > div{
	width:30px;	
}

div.show .menu-train > div:hover{
	width:595px;
}

div.show .menu-train .view{
	width:595px;
}

div.menu-train div.rotate{
	background-color:#000;
	opacity:.5;
	border:.5px solid #999;
	border-radius:4px;
}

div.menu-train div.rotate span{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:15px;
	text-align:center;
	color:#999;
	font-weight:bold;
}

div.menu-train div.rotate1 span{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:15px;
	text-align:center;
	color:#FFF;
	font-weight:bold;
}

div.menu-train div.rotate , div.menu-train div.rotate1{
	width:100px;
	height:22px;
	position:relative;
	bottom:60px;
	right:34px;
	transform:rotate(-90deg);
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Safari and Chrome */
	-o-transform: rotate(-90deg); /* Opera */
	-moz-transform: rotate(-90deg); /* Firefox */
	transition:all .6s;
	-webkit-transition:all .6s;/* Safari and Chrome */
	-moz-transition:all .6s;/* Firefox */
}

div.menu-train div a{
	text-decoration:none;	
}
/*----------endmenu-----------*/
/*----------start-topic-gallery-----------*/
div.topic-gallery {
	width:745px;
	margin:auto;
	height:205px;
}

div.topic-gallery-rigth {
	width:80px;
	height:inherit;
	float:right;
	position:relative;
    -webkit-transition:all .75s;
	-moz-transition:all .75s;
	-ms-transition:all .75s;
	-o-transition:all .75s;
	background:#FFFFFF;
}

div.topic-gallery-rigth p {
	position:absolute;
	top:80px;
	left:-45px;
	font-size:18px;
	color:#000000;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	display:inline;
	background:#FFFFFF;
	padding:10px 10px;
	z-index:1;
}
div.topic-gallery-rigth ul{
	width:130px;
	height:70px;
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;	
	display:none;
}

div.topic-gallery-rigth ul a{
	text-decoration:none;
	color:#666666;
	line-height:20px;
}
div.topic-gallery-rigth ul a:hover {
	color:#333333;
}
@keyframes slider-topic-gallery {
	0%{ bottom:0 }
	5%{ bottom:0 }
	10%{ bottom:0 }
	15%{ bottom:215px }
	15%{ bottom:215px }
	20%{ bottom:430px }
	20%{ bottom:430px }
	25%{ bottom:645px }
	25%{ bottom:645px}
	30%{ bottom:860px }
	30%{ bottom:860px }
	35%{ bottom:1075px }
	35%{ bottom:1075px  }
	40%{ bottom:1290px }
	40%{ bottom:1290px  }
	45%{ bottom:1505px  }
	45%{ bottom:1505px  }
	50%{ bottom:1720px  }
	50%{ bottom:1720px  }
	55%{ bottom:1505px  }
	55%{ bottom:1505px  }
	60%{ bottom:1290px  }
	60%{ bottom:1290px  }
	65%{ bottom:1075px  }
	65%{ bottom:1075px  }
	70%{ bottom:860px  }
	70%{ bottom:860px  }
	75%{ bottom:645px  }
	75%{ bottom:645px  }
	80%{ bottom:430px  }
	80%{ bottom:430px  }
	85%{ bottom:215px  }
	85%{ bottom:215px  }
	90%{ bottom:215px  }
	90%{ bottom:215px  }
	100%{ bottom:0  }
	100%{ bottom:0  }
}
@-webkit-keyframes slider-topic-gallery {
	0%{ bottom:0 }
	5%{ bottom:0 }
	10%{ bottom:0 }
	15%{ bottom:215px }
	15%{ bottom:215px }
	20%{ bottom:430px }
	20%{ bottom:430px }
	25%{ bottom:645px }
	25%{ bottom:645px}
	30%{ bottom:860px }
	30%{ bottom:860px }
	35%{ bottom:1075px }
	35%{ bottom:1075px  }
	40%{ bottom:1290px }
	40%{ bottom:1290px  }
	45%{ bottom:1505px  }
	45%{ bottom:1505px  }
	50%{ bottom:1720px  }
	50%{ bottom:1720px  }
	55%{ bottom:1505px  }
	55%{ bottom:1505px  }
	60%{ bottom:1290px  }
	60%{ bottom:1290px  }
	65%{ bottom:1075px  }
	65%{ bottom:1075px  }
	70%{ bottom:860px  }
	70%{ bottom:860px  }
	75%{ bottom:645px  }
	75%{ bottom:645px  }
	80%{ bottom:430px  }
	80%{ bottom:430px  }
	85%{ bottom:215px  }
	85%{ bottom:215px  }
	90%{ bottom:215px  }
	90%{ bottom:215px  }
	100%{ bottom:0  }
	100%{ bottom:0  }
}

@-moz-keyframes slider-topic-gallery {
	0%{ bottom:0 }
	5%{ bottom:0 }
	10%{ bottom:0 }
	15%{ bottom:215px }
	15%{ bottom:215px }
	20%{ bottom:430px }
	20%{ bottom:430px }
	25%{ bottom:645px }
	25%{ bottom:645px}
	30%{ bottom:860px }
	30%{ bottom:860px }
	35%{ bottom:1075px }
	35%{ bottom:1075px  }
	40%{ bottom:1290px }
	40%{ bottom:1290px  }
	45%{ bottom:1505px  }
	45%{ bottom:1505px  }
	50%{ bottom:1720px  }
	50%{ bottom:1720px  }
	55%{ bottom:1505px  }
	55%{ bottom:1505px  }
	60%{ bottom:1290px  }
	60%{ bottom:1290px  }
	65%{ bottom:1075px  }
	65%{ bottom:1075px  }
	70%{ bottom:860px  }
	70%{ bottom:860px  }
	75%{ bottom:645px  }
	75%{ bottom:645px  }
	80%{ bottom:430px  }
	80%{ bottom:430px  }
	85%{ bottom:215px  }
	85%{ bottom:215px  }
	90%{ bottom:215px  }
	90%{ bottom:215px  }
	100%{ bottom:0  }
	100%{ bottom:0  }
}

@-ms-keyframes slider-topic-gallery {
	0%{ bottom:0 }
	5%{ bottom:0 }
	10%{ bottom:0 }
	15%{ bottom:215px }
	15%{ bottom:215px }
	20%{ bottom:430px }
	20%{ bottom:430px }
	25%{ bottom:645px }
	25%{ bottom:645px}
	30%{ bottom:860px }
	30%{ bottom:860px }
	35%{ bottom:1075px }
	35%{ bottom:1075px  }
	40%{ bottom:1290px }
	40%{ bottom:1290px  }
	45%{ bottom:1505px  }
	45%{ bottom:1505px  }
	50%{ bottom:1720px  }
	50%{ bottom:1720px  }
	55%{ bottom:1505px  }
	55%{ bottom:1505px  }
	60%{ bottom:1290px  }
	60%{ bottom:1290px  }
	65%{ bottom:1075px  }
	65%{ bottom:1075px  }
	70%{ bottom:860px  }
	70%{ bottom:860px  }
	75%{ bottom:645px  }
	75%{ bottom:645px  }
	80%{ bottom:430px  }
	80%{ bottom:430px  }
	85%{ bottom:215px  }
	85%{ bottom:215px  }
	90%{ bottom:215px  }
	90%{ bottom:215px  }
	100%{ bottom:0  }
	100%{ bottom:0  }
}
@-o-keyframes slider-topic-gallery {
	0%{ bottom:0 }
	5%{ bottom:0 }
	10%{ bottom:0 }
	15%{ bottom:215px }
	15%{ bottom:215px }
	20%{ bottom:430px }
	20%{ bottom:430px }
	25%{ bottom:645px }
	25%{ bottom:645px}
	30%{ bottom:860px }
	30%{ bottom:860px }
	35%{ bottom:1075px }
	35%{ bottom:1075px  }
	40%{ bottom:1290px }
	40%{ bottom:1290px  }
	45%{ bottom:1505px  }
	45%{ bottom:1505px  }
	50%{ bottom:1720px  }
	50%{ bottom:1720px  }
	55%{ bottom:1505px  }
	55%{ bottom:1505px  }
	60%{ bottom:1290px  }
	60%{ bottom:1290px  }
	65%{ bottom:1075px  }
	65%{ bottom:1075px  }
	70%{ bottom:860px  }
	70%{ bottom:860px  }
	75%{ bottom:645px  }
	75%{ bottom:645px  }
	80%{ bottom:430px  }
	80%{ bottom:430px  }
	85%{ bottom:215px  }
	85%{ bottom:215px  }
	90%{ bottom:215px  }
	90%{ bottom:215px  }
	100%{ bottom:0  }
	100%{ bottom:0  }
}


div.topic-gallery-left {
	margin-right:70px;
	height:inherit;
	-webkit-transition:all .75s;
	-moz-transition:all .75s;
	-ms-transition:all .75s;
	-o-transition:all .75s;
	overflow:hidden;
	margin-left:0;
}

div.topic-gallery-left-slider{
	width:670px;
	height:1920px;
	position:relative;
	-webkit-animation:slider-topic-gallery 150s infinite;
	-moz-animation:slider-topic-gallery 15s infinite;
	-ms-animation:slider-topic-gallery 15s infinite;
	-o-animation:slider-topic-gallery 15s infinite;
	-webkit-transition:all .75s;
	-moz-transition:all .75s;
	-ms-transition:all .75s;
	-o-transition:all .75s;
}

div.topic-gallery-left-slider img {
	width:670px;
	height:206px;
	-webkit-transition:all .75s;
	-moz-transition:all .75s;
	-ms-transition:all .75s;
	-o-transition:all .75s;
	margin-bottom:5px;
}
div.topic-gallery-rigth:hover ul{
	display:block;
}
div.topic-gallery-rigth:hover + div.topic-gallery-left img {
	width:670px;
	margin-left:0;
	
}
	
div.topic-gallery-rigth:hover + div.topic-gallery-left {
	margin-right:130px;
}
div.topic-gallery-rigth:hover{
	width:150px;
}






/*----------End-topic-gallery-----------*/

div.main-pic{
	width: 720px;
	height: 318px;
	margin: auto;
	margin-top: 93px;
	margin-bottom:25px;
}

/*----------content-up------------*/


/*------------ content-up first-slide-show -----------------*/

div.con-up-left{
	width:225px;
	height:183px;
	float:left;
	background-image:url(../img/2.jpg);
}

div.left-into{
	width:203px;
	height:130px;
	margin:auto;
	margin-top:12px;
	position:relative;
}

div.slideshow{
	width    : 200px;
	overflow : hidden;
	margin   : 0 auto;
}

div.slideshow .train{
	width    : 1100px; /* 5*200 + x */
	position : relative;
	-webkit-transition : left 916ms;
}

div.slideshow .train > div{
	float : left;
}

div.slideshow .train > div > img{
	display : block;
}

div.slideshow ul.btns{
	list-style-type:none;
	margin-top:5px;
}

div.slideshow li{
	width:14px;
	height:5px;
	background-color:#277b79;
	border-radius:10%;
	float:left;
	margin-right:3px;
	-webkit-transition : all 800ms;
}

div.slideshow li:hover{
	background-color:#7E240E;
	height:6px;
	margin-top:-1px;
	-webkit-transition:all 200ms;
}
	
div.txt-g{
	width:202px;
	height:20px;
	margin:0 auto;
	margin-top:15px;
}

/*--------- moshtarak --------------*/

div.txt-g p , div.txt-g2 p {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#277b79;
	text-shadow:1px 1px 1px #FFF;
}

/*--------------*/

div.con-up-right{
	width:225px;
	height:183px;
	float:right;
	background-image:url(../img/2.jpg);
}

div.right-into{
	width:200px;
	height:130px;
	margin:auto;
	margin-top:12px;
}

div.slideshow .train3{
	width    : 1100px; /* 5*200 + x */
	position : relative;
	-webkit-transition : left 916ms;
}

div.slideshow .train3 > div{
	float : left;
}

div.slideshow .train3 > div > img{
	display : block;
}


/*-------------------*/

div.con-up-middle{
	width:225px;
	height:171px;
	margin:auto;
	background-image:url(../img/2.jpg);
	position:relative;
	padding-top:12px;
}

div.middle-into{
	width:200px;
	height:130px;
	margin-top:12px;
	position:absolute;
	left:0;
	right:0;
	margin:auto;
}

div.txt-g2{
	width:150px;
	height:20px;
	margin:0 auto;
	margin-top:16px;
	position:absolute;
	top:140px;
	right:0;
	left:0;
}

div.slideshow .train2{
	width    : 1100px; 
	position : relative;
	-webkit-transition : left 916ms;
}

div.slideshow .train2 > div{
	float : left;
}

div.slideshow .train2 > div > img{
	display : block;
}

/*------------content-----------------*/
div.content{
	width:702px;
	height:625px;
	margin:auto;
	margin-top:15px;
	padding:15px;
	position:relative;
}
/*-----------content-left--------------*/

div.content-left{
	width:452px;
	height:625px;
	margin:auto;
	float:left;
}
h6{
	position:absolute;
	right:0;
	bottom:2px;
}
h6 a{
	text-decoration:none;
	color:#1D6F96;
}

/*------------------- div.content-left-1 (history) -------------------*/

div.content-left-1{
	width:442px;
	height:136px;
	margin:auto;
	padding:5px;
	position:relative;
	border:1px dotted rgb(202,219,204);		
}

div.content-left-1-left{
	width:290px;
	height:136px;
	float:left;
}
div.content-left-2-left{
	width:290px;
	height:136px;
	float:left;
}

div.content-left-1-rigth{
	margin-left:300px;
	border:2px double gray;
	box-shadow:0 0 15px gray;
	background-size:cover;
	
}
div.content-left-2-rigth{
	margin-left:300px;
	
	border:2px double gray;
	box-shadow:0 0 15px gray;
	background-size:cover;
	
}

div.sp{
	width:452px;
	height:15px;
	margin:auto;	
}

/*------------------------- content-left-2 ------------------------*/

div.content-left-2{
	width:432px;
	height:106px;
	margin:auto;
	margin-top:15px;
	padding:10px;
	border:1px dotted rgb(202,219,204);
	position:relative;
}

div.pic-hover{
width: 450px;
height: 125px;
background: rgba(0, 131, 204, 0.33) -webkit-radial-gradient(120px 130px ,circle cover,transparent,transparent 50%,rgba(255,255,255,.5)50%,white);
position: absolute;
bottom: 0px;
left: 0px;
opacity: 0.3;
border: 1px solid black;
}
div.pic-hover:hover{
background: rgba(0, 131, 204, 0.33) -webkit-radial-gradient(510px 160px ,circle cover,transparent,transparent 50%,rgba(255,255,255,.5)50%,white);
}
div.pic{
	float:left;
	width:135px;
	height:100px;
	margin-right:10px;
}

div.pic1{
	margin-left:290px;
	height:100px;
}

div.img:hover{
	opacity:0.8;	
}

/*--------------------- content-left-3 (Photography Techniques) -----------------------------*/

div.content-left-3{
	width:452px;
	height:146px;
	margin:auto;
	margin-top:25px;
	border:1px dotted rgb(202,219,204);
}

div.content-left-3 a,div.content-left-1 h3 a,div.content-left-2 h3 a{
	text-align:right;
	font-family:'B Traffic',BTraffic,tahoma;
	font-size:20px;
	line-height:50px;
	color:#1D6F96;
	text-decoration:none;	
}

div.img-a{
	width:126px;
	height:84px;
	float:right;
	border:2px solid #999;
	margin:12px;	
}
div.content-left-2-rigth img,div.content-left-1-rigth img{
	box-shadow:3px 3px 35px #999999;
}
div.img-a:hover,div.content-left-2-rigth:hover,div.content-left-1-rigth:hover{
	opacity:0.8;	
}

div.content-left-3 p, div.content-left-1 p, div.content-left-4 p,div.content-left-2 p{
	text-align:right;
	font-family:'B Homa',BHoma,tahoma;
	font-size:13px;
	line-height:25px;
	color:#4E4E4E;
	text-decoration:none;
	padding:0 20px;
	width:270px;
}

/*---------------------- div.content-left-4 (famous photographer) ----------------------*/

div.content-left-4{
	width:452px;
	height:146px;
	margin:auto;
	margin-top:15px;
	border:1px dotted rgb(202,219,204);
}

div.content-left-4 a{
	text-align:right;
	font-family:'B Traffic',BTraffic,tahoma;
	font-size:20px;
	line-height:50px;
	color:#1D6F96;
	text-decoration:none;	
}

div.img-b{
	width:126px;
	height:111px;
	float:right;
	border:2px solid #999;
	margin:10px;
	box-shadow:3px 3px 35px #999999;	
}

div.img-b:hover{
	opacity:0.8;	
}	
	
/*------------- content-right -------------------*/
	
div.content-right{
	width:240px;
	height:625px;
	margin-left:462px;
	position:absolute;
}

/*------------- content-right-1 (Text) -------------------*/

div.content-right-1{
	width:210px;
	height:235px;
	margin:auto;
	border:1px dotted rgb(202,219,204);
	padding:15px;
}

div.content-right-1 p{
	text-align:justify;
	font-size:13px;
	line-height:27px;	
	text-indent:20px;
	font-family:'B Traffic',BTraffic,tahoma;
}

div.content-right-1 h4{
	text-align:center;
	font-size:20px;	
	text-shadow:2px 2px 3px gray;
	font-family:'B Traffic',BTraffic,tahoma;
}

/*-------------- content-right-2 (Link-pic) -----------------*/

div.content-right-2{
	width:190px;
	height:30px;
	margin:auto;
	margin-top:15px;
	border:1px solid rgb(202,219,204);
	padding:15px 25px;	
}

div.content-right-2 a:hover{
	opacity:0.8;
}

/*--------------------*/


div.content-right-3{
	width:240px;
	height:225px;
	margin:auto;
	margin-top:30px;	
}
/*-------------footer-------------*/

div.footer{
	width:732px;
	height:108px;
	margin:auto;
	font-size:10px;
	text-align:center ;
	font-family:Tahoma, Geneva, sans-serif;
	direction:ltr;	
	background-color:#e7d9b2;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

div.footer div.foot-in{
	width:auto;
	height:25px;	
	font-size:11px;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	direction:ltr;
	color:#61522b;
	float:left;
	margin-top:35px;
	margin-left:235px;
}

div.footer img{
	float:left;
	margin-left:-97px;
}

div.foot-in a{
	color:#61522b;
	text-decoration:none;
}