@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
}

div{
	outline:1px solid #666;
}

div.clear{
	width:0;
	height:0;
	clear:both;	
}

div.container{
	width:1350px;
	height:1446px;
	background:url(../img/main_bg.jpg) no-repeat top center;
	margin:0 auto;
}

div.menu{
	width:700px;
	height:50px;
	margin:auto;	
}

div.main-pic{
	width:716px;
	height:318px;
	margin:auto;
	margin-top:46px;
}

div.con-up{
	width:712px;
	height:185px;
	margin:auto;
	margin-top:25px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:15px;
	padding-right:15px;
}

div.con-up-left{
	width:225px;
	height:183px;
	float:left;
	background-image:url(../2.jpg);
}

div.left-into{
	width:200px;
	height:130px;
	margin:auto;
	margin-top:12px;
}

div.con-up-right{
	width:225px;
	height:183px;
	float:right;
	background-image:url(../2.jpg);
}

div.right-into{
	width:200px;
	height:130px;
	margin:auto;
	margin-top:12px;
}

div.con-up-middle{
	width:225px;
	height:171px;
	margin:auto;
	background-image:url(../2.jpg);
	position:relative;
	padding-top:12px;
}

div.middle-into{
	width:200px;
	height:130px;
	
	margin-top:12px;
	position:absolute;
	left:0;
	right:0;
	margin:auto;
}

div.content{
	width:702px;
	height:625px;
	margin:auto;
	margin-top:15px;
	padding:15px;
	position:relative;
}

div.content-left{
	width:452px;
	height:625px;
	margin:auto;
	float:left;
}

div.content-left-1{
	width:452px;
	height:146px;
	margin:auto;	
}

div.sp{
	width:452px;
	height:15px;
	margin:auto;	
}

div.content-left-2{
	width:452px;
	height:146px;
	margin:auto;
	margin-top:15px;
}

div.content-left-3{
	width:452px;
	height:146px;
	margin:auto;
	margin-top:15px;
}

div.content-left-4{
	width:452px;
	height:146px;
	margin:auto;
	margin-top:15px;
}

div.content-right{
	width:240px;
	height:625px;
	margin-left:462px;
	position:absolute;
}

/*------------- content-right-1 (Text) -------------------*/

div.content-right-1{
	width:240px;
	height:265px;
	margin:auto;
}

div.content-right-1 p{
	text-align:justify;
	font-size:29px;
	line-height:41px;	
	text-indent:20px;
	font-family:myFont;
}

div.content-right-1 h4{
	text-align:center;
	font-size:44px;	
	text-shadow:2px 4px 4px gray;
	font-family:myFont;
}

@font-face
{
font-family:myFont;
src:url(../font/IranNastaliq.ttf); 
}

/*-------------- content-right-2 (Link-pic) -----------------*/

div.content-right-2{
	width:240px;
	height:65px;
	margin:auto;
	margin-top:15px;
	border:3px solid rgb(202,219,204);	
}

div.content-right-2 p{
	font-family:myFontlink;	
}

@font-face
{
font-family:myFontlink;
src:url(../font/Far_NazaninBd.ttf); 
}

div.content-right-2 a:hover{
	opacity:0.8;
}

/*--------------------*/


div.content-right-3{
	width:240px;
	height:225px;
	margin:auto;
	margin-top:30px;	
}

div.head-footer{
	width:732px;
	height:30px;
	margin:auto;	
}

div.footer{
	width:732px;
	height:108px;
	margin:auto;
}