@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
}

div{
	outline:1px solid #666;
}

div.clear{
	width:0;
	height:0;
	clear:both;	
}

body{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	color:#555;
}

div.menu{
	width:700px;
	height:50px;
	margin:auto;	
}

div.container{
	width:1350px;
	height:1446px;
	background-image:url(main_bg.jpg);
	background-repeat:no-repeat;
	margin:auto;
}

div.main-pic{
	width:716px;
	height:318px;
	margin:auto;
	margin-top:46px;
}

div.con-up{
	width:712px;
	height:185px;
	margin:auto;
	margin-top:25px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:15px;
	padding-right:15px;
}

div.con-up-left{
	width:225px;
	height:183px;
	float:left;
	background-image:url(2.jpg);
}

div.left-into{
	width:200px;
	height:130px;
	margin:auto;
	margin-top:12px;
}

div.con-up-right{
	width:225px;
	height:183px;
	float:right;
	background-image:url(2.jpg);
}

div.right-into{
	width:200px;
	height:130px;
	margin:auto;
	margin-top:12px;
}

div.con-up-middle{
	width:225px;
	height:171px;
	margin:auto;
	background-image:url(2.jpg);
	position:relative;
	padding-top:12px;
}

div.middle-into{
	width:200px;
	height:130px;
	
	margin-top:12px;
	position:absolute;
	left:0;
	right:0;
	margin:auto;
}

div.content{
	width:702px;
	height:625px;
	margin:auto;
	margin-top:15px;
	padding:15px;
	position:relative;
	direction:rtl;
}

div.content-left{
	width:452px;
	height:625px;
	margin:auto;
	float:left;
}

div.content-left-1{
	width:442px;
	height:136px;
	margin:auto;
	padding:5px;
	position:relative;	
}
div.content-left-1 span,div.content-left-3 span ,div.content-left-4 span, div.content-right-1 span {
	font-size:18px;
	color:#366;	
}

div.content-left-1 p,div.content-left-3 p,div.content-left-3 a,.content-left-4 a , div.content-left-1 a,div.content-right-1 a{
	font-size:15px;
	line-height:1.1;
	text-align:justify;
	text-decoration:none;
	color:#555;
}

div.sp{
	width:452px;
	height:15px;
	margin:auto;	
}

div.content-left-2{
	width:422px;
	height:106px;
	margin:auto;
	margin-top:15px;
	border:2px solid #099;
	padding:10px;
}
div.pic{
	float:left;
	width:135px;
	height:100px;
	outline:1px solid #0FC;
	margin-right:10px;
}
div.pic1{
	margin-left:290px;
	height:100px;
}

div.content-left-3{
	width:442px;
	height:136px;
	margin:auto;
	margin-top:15px;
	padding:5px;
	position:relative;
}
h6{
	position:absolute;
	right:0;
	bottom:0;
}

div.content-left-4{
	width:452px;
	height:146px;
	margin:auto;
	margin-top:15px;
	position:relative;
}

div.content-right{
	width:240px;
	height:625px;
	margin-left:462px;
	position:absolute;
}

div.content-right-1{
	width:230px;
	height:255px;
	margin:auto;
	position:relative;
	padding:5px;
	
}
div.content-right-1 a:hover{
	color:#000000;
	background-color:#EBE5D4;
}

div.content-right-2{
	width:240px;
	height:50px;
	margin:auto;
	margin-top:15px;	
}

div.content-right-3{
	width:220px;
	height:205px;
	margin:auto;
	margin-top:45px;
	padding:10px;
		
}

form.frm-contact-us input[type=text],td,textarea,select{
	color:#555;
	text-align:center;
	width:100%;
	margin-bottom:2px;
}

textarea{
	padding: 2px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

input[type=text],textarea,select{
	background-color:#EBE5D4;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	-ms-border-radius:3px;
	-moz--border-radius:3px;
	border-radius:3px;
	border-top:2px solid #D7D2C3;
	border-left:2px solid #D7D2C3;
}
input[type=submit]{
	color:#000;
	position:absolute;
	left:0;
	width:70px;
	height:20px;
	background-color:#366;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	-ms-border-radius:3px;
	-moz--border-radius:3px;
	border-radius:5px;
}

select.smal{
	width:101px;
}

div.head-footer{
	width:732px;
	height:30px;
	margin:auto;	
}

div.footer{
	width:732px;
	height:108px;
	margin:auto;
}
